#list {
    font-size: 30px;
    color: white;
    background-color: darksalmon;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
}

p {
    color: green;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}

body {
    background-color: black;
    background-image: url(./images/jupiter-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
}